@page "/bar-charts"

<h1>Bar Charts</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BasicBarChartComponent></BasicBarChartComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/bar-charts/basic">Basic Bar Chart</a></h5></div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BarChartWithMarkersComponent></BarChartWithMarkersComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/bar-charts/bar-chart-with-markers">Bar Chart With Markers</a></h5></div>
		</div>
	</div>
</div>



@code {

}
