@page "/column-charts"

<h1>Column Charts</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BasicColumnChartComponent></BasicColumnChartComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/column-charts/basic">Basic Column Chart</a></h5></div>
		</div>
	</div>
</div>


@code {

}
