@page "/line-charts"

<h1>Line Charts</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BasicLineChartComponent></BasicLineChartComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/line-charts/basic">Basic Line Chart</a></h5></div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<LineChartWithDataLabelsComponent></LineChartWithDataLabelsComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/line-charts/line-chart-with-data-labels">Line Chart with Data Labels</a></h5></div>
		</div>
	</div>
</div>

@code {

}
