@page "/pie-charts"

<h1>Pie Charts</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BasicPieChartComponent></BasicPieChartComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/pie-charts/basic">Basic Pie Chart</a></h5></div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body">
				<BasicDonutChartComponent></BasicDonutChartComponent>
			</div>
			<div class="card-footer bg-transparent"><h5 class="card-title"><a href="/pie-charts/basic-donut">Basic Donut Chart</a></h5></div>
		</div>
	</div>
</div>

@code {

}
